@page "/"
@attribute [StreamRendering]
@using SupportEngineerEfficiencyDashboard.Components.Shared
@using SupportEngineerEfficiencyDashboard.Models
@using SupportEngineerEfficiencyDashboard.Services
@rendermode InteractiveServer
@inject IDialogService DialogService
@inject ICaseDataService CaseService
@inject CaseAnalysisService AnalysisService

<FluentCard>
    <FluentDialogProvider />
    <FluentSplitter Orientation="Orientation.Horizontal" Collapsed="@isCaseSelected" Panel1MinSize="50%" Panel2MinSize="40%" Style="height: 100%;overflow:auto;">
        <Panel1>
            <FluentDataGrid Items="@caseModels.AsQueryable()"
                            ResizableColumns=true
                            TGridItem="CaseModel"
                            OnRowFocus="HandleRowFocus"
                            GridTemplateColumns="1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr"
                            RowStyle="@rowStyle"
                            ShowHover="true">
                <PropertyColumn Property="@(p => p.CaseNumber)" Sortable="true" />
                <PropertyColumn Property="@(p => p.Title)" Sortable="true" />
                <PropertyColumn Property="@(p => p.CaseAge.Days)" Sortable="true" />
                <PropertyColumn Property="@(p => p.State)" Sortable="true" />
                <PropertyColumn Property="@(p => p.ProgramType)" Sortable="true" />
                <TemplateColumn Title="Priority" Sortable="true" SortBy="@sortByPriority" IsDefaultSortColumn="true" InitialSortDirection="SortDirection.Descending">
                    @if (context.CaseAnalysisModel.Priority == int.MinValue)
                    {
                        <FluentProgressRing />
                    }
                    else
                    {
                        @context.CaseAnalysisModel!.Priority
                    }
                </TemplateColumn>
                <TemplateColumn Title="Sentiment" Sortable="true" SortBy="@sortBySentiment">
                    @if (string.IsNullOrEmpty(context.CaseAnalysisModel.Sentiment))
                    {
                        <FluentProgressRing />
                    }
                    else
                    {
                        @context.CaseAnalysisModel!.Sentiment
                    }
                </TemplateColumn>
                <TemplateColumn Title="Action" Sortable="true" SortBy="@sortByAction">
                    @if (string.IsNullOrEmpty(context.CaseAnalysisModel.Action))
                    {
                        <FluentProgressRing />
                    }
                    else
                    {
                        @context.CaseAnalysisModel!.Action
                    }
                </TemplateColumn>
            </FluentDataGrid>
            <FluentSpacer />
            @if (!caseModels.Any(x => string.IsNullOrEmpty(x.CaseAnalysisModel.Action)))
            {
                <div class="row card-body d-flex justify-content-center my-2">
                    <div class="col-auto my-2">
                        <SentimentChart CaseModels="caseModels" />
                    </div>
                    <div class="col-auto my-2">
                        <ActionChart CaseModels="caseModels" />
                    </div>
                </div>
            }
        </Panel1>
        <Panel2>
            @if (selectedCase != null)
            {
                <CaseDetailsNew Case="selectedCase" />
            }
        </Panel2>
    </FluentSplitter>
</FluentCard>
